<a href="https://colab.research.google.com/github/mehrunarbi/assigment1/blob/main/PY3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Assigment List Tuples and method

Basic List Operations

In [ ]:
#1 Create a lit of five number and append a ne number to it.Print the updated lit.
number = [1,2,3,4,5]
number.append(6)
print(number)

[1, 2, 3, 4, 5, 6]

In [ ]:
#2 Extend a list [1,2,3] with another list[4,5,6] print the result
list = [1,2,3,4]
list.extend([5,6,7])
print(list)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
#3 Insert the string "Python" at index 2 in the lit ["Java","C++","Javascript","Ruby"]

language = ["Java","C++","Ruby"]
language.insert(2,"Python")
print(language)

['Java', 'C++', 'Python', 'Ruby']

In [ ]:
#4 Remove the first occurrence of the number 10 from the list [10, 20, 30, 10, 40]
List = [10, 20, 30, 10, 40]
List.pop(0)
print(List)

[20, 30, 10, 40]

In [ ]:
#5 Use the pop() method to remove the last element from[100, 200, 300, 400] and print the modified list.
num = [ 100, 200, 300, 400,]
num.pop(3)
print(num)

[100, 200, 300]

Intermediate List Operations

In [ ]:
##6 Count how many times the number 5 appears in the list [5, 10, 5, 20, 5, 30].

list = [5, 10, 5, 20, 5, 30]
print(list.count(5))

3

In [ ]:
#7 Sort the list [9, 1, 8, 3, 5] in ascending and descending order
num = [9, 1, 8, 3, 5]
num.sort()
print("Ascending order:",num)
num.sort(reverse=True)
print("Descending order:",num)

Ascending order: [1, 3, 5, 8, 9]
Descending order: [9, 8, 5, 3, 1]

In [ ]:
#8 Reverse the list ["apple","banana","cherry"] uing reverse() method.
fruits = ["apple","banana","cherry"]
fruits.reverse()
print(fruits)

['cherry', 'banana', 'apple']

In [ ]:
#9 Create a copy of the list [1, 2, 3, 4, 5] and store it in another variable. Modify the copied list and print both lists.

numbers = [1, 2, 3, 4, 5]

new_number = numbers.copy()
print(new_number)
new_number[1] = 3
print(new_number)

[1, 2, 3, 4, 5]
[1, 3, 3, 4, 5]

In [ ]:
#10 Clear all elements from a list ["hello","World","Python"] uing the clear() method.

element = ["Hello","World","Python"]
print(element.clear())

None

Tuple_Based Questions

In [ ]:
#11 Create a tuple with 5 different fruits and print the third friut.

my_tuple = ("Apple","Mango","Banana","Orange","peach")
print(my_tuple[2])

Banana

In [ ]:
#12 Convert the tuple(10, 20 ,30 ,40 ,50) into a lit,remove the number 30, and convert it back into a tuple.
my_tuple = (10, 20 ,30 ,40 ,50)
my_list = list(my_tuple)
print(my_list)
my_tuple = tuple(my_list)
print(my_tuple)

[10, 20, 30, 40, 50]
(10, 20, 30, 40, 50)

In [ ]:
from types import new_class
#13 Try to append an element to the tuple ("A","B","C") hat happen? Ho can you modify a tuple indirectly.

# tuple are immutable so they can be append.
letters  = ("A","B","C")
letters = letters + ("D",)
print(letters)

# Another method

letters_tuple = ("A", "B", "C",)
new_tuple = list(letters_tuple)
new_tuple.append("D")
letters_tuple = tuple(new_tuple)
print(letters_tuple)

('A', 'B', 'C', 'D')
('A', 'B', 'C', 'D')

In [ ]:
#14 Unpack the tuple (100, 200, 300) in to three different variables and print them.

new_number = (100, 200, 300)
a, b, c = new_number
print(a)
print(b)
print(c)

100
200
300

In [ ]:
#15 Count the accurance of 7 in the tuple (7, 1, 7, 3, 7, 5)

accurance = (7, 1, 7, 3, 7, 5)
print(accurance.count(7))

3

Advanced Problem

In [ ]:
#16 Write a function that take a list and return a new list with all even number removed.

def remove_even_numbers(lst):
    return [num for num in lst if num % 2 != 0]

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
filtered_numbers = remove_even_numbers(numbers)
print(filtered_numbers)

[1, 3, 5, 7, 9]

In [ ]:
#17 Create a function that accept a list and return a new list with element stored in decending order without using the sort() method

def descending_order(lst):
  lst_copy = lst[:]
  n = len(lst_copy)
  for i in range(n):
    for j in range(0, n-i-1):
            if lst_copy[j] < lst_copy[j+1]:
              lst_copy[j], lst_copy[j+1] = lst_copy[j+1], lst_copy[j]
              return lst_copy

my_list = [10, 5, 8, 2, 15, 12]
sorted_list = descending_order(my_list)
print(sorted_list)

[10, 8, 5, 2, 15, 12]

In [2]:
#18 Given a list of numbers,write a program to remove all duplicate elements and print the unique elements.

numbers = [1, 2, 2, 3, 4, 4, 5, 5, 6]
unique_numbers = []
for number in numbers:
   if number not in unique_numbers:
     unique_numbers.append(number)
print(unique_numbers)

[1, 2, 3, 4, 5, 6]

In [5]:
#19 Given a tuple of names ("Alice", "Bobe","charlie", "Alice", "David"), convert it into a list, remove duplicates, and convert it back to a tuple.

names_tuple = ("Alice", "Bobe","charlie", "Alice", "David")
names_list = list(names_tuple)

unique_names = []
for name in names_list:
   if name not in unique_names:
    unique_names.append(name)
    unique_names_tuple = tuple(unique_names)
print(unique_names_tuple)

('Alice', 'Bobe', 'charlie', 'David')

In [13]:
#20 Create program that takes a list of  mixed data types (int, str, float) and eparates integers into another, and floats into another.

mixed_list = [5, 'mango', 4.14, 'apple', 52, 8.718, 'appricot']

integers = []
floats = []

for item in mixed_list:
    if isinstance(item, int):  # Check if the item is an integer
        integers.append(item)
    elif isinstance(item, float):  # Check if the item is a float
        floats.append(item)

print("Integers:", integers)
print("Floats:", float)

TypeError: isinstance() arg 2 must be a type, a tuple of types, or a union